:root{
    --width-0-1:600px;
    --width-1:500px;
    --width-1-5:450px;
    --width-2:400px;
    --width-3:300px;
    --width-3-5:250px;
    --width-4:350px;
    --width-5:750px;
    --width-000:900px;
    --width-0000:1200px;
}


html{
  scroll-behavior: smooth;
}

@media (width < 768px){
  .holder{
    padding-top: 1.5em;
  }
  .nav__container ul li{
    display: none;
  }
  .get-started1{
    display: block;
  }

  .hero__section{
    padding-top: 2em;
    flex-direction: column;
    align-items: center;
    gap: 3em;
  }
  .hero__content{
    width: auto;
    justify-content: center;
    align-items: center;
  }
  .crest{
    text-align: center;
    /* width: 250px; */
    padding: 4px 2px;
  }
  .hero__content h1{
    font-size: 2em;
    text-align: center;
  }
  
  .get-started2{
    font-size: 14px;
    padding: 12px 14px;
  }
  .watch__btn{
    width: 160px;
    font-size: 14px;
  }
  .rating{
    padding-inline: 0px;
  }
  .rating p{
    font-size: 14px;
  }
  .credibility__div{
    row-gap: 1em;
    column-gap: 0.5em;
    padding-inline: 1em;
    
  }
  .credibility__div span{
    font-size: 12px;
  }
  .partners{
    align-items: center;
  }
  .image__holder{
    padding-right: 0px;
  }
  .image__background{
    padding-left: 5em;
  }
  .image__background div{
    padding: 6px;
  }
  .image__background img{
    height: auto;
  }

  .services__section{
    flex-direction: column;
    width: var(--width-4);
    gap: 1.95em;
  }
  .first__body__section h2{
    text-align: center;
  }

  .cta__section{
    flex-direction: column;
    gap: 1.5em;
  }
  .cta__section div{
    width: auto;
    text-align: center;
  }
  .content__container{
    flex-direction: column-reverse;
    width: var(--width-1-5);
    gap: 3.5em;
    padding-right: 1.5em;
  }
  .choose__us__div{
    /* width: auto; */
    width: 28em;
  }
  .choose__us__div h2{
    text-align: center;
  }
  .choose__us__p{
    align-self: center;
  }
  .choose__us__p2{
    text-align: center;
  }
  .second__image__holder{
    align-self: center;
    width: 28em;
  }
}
